/* @import url('http://fonts.cdnfonts.com/css/gotham'); */

.MuiOutlinedInput-root{
    border-radius: 16px !important;
}

html { 
    /* font-family: 'Gotham Black', sans-serif !important; */
}

body{
    margin: 0;
    padding: 0;
    /* font-family: 'Gotham Black', sans-serif !important; */

}

.MuiCalendarPicker-root{
    width: 300px !important;
}

.app{
    /* font-family: 'Gotham Black', sans-serif !important; */
}